/Nxp/Testes/TesteBearSSL/Release
/Nxp/Testes/TesteBearSSL/Debug
/Nxp/Testes/TesteBearSSL/.settings

/Nxp/Testes/TesteUartBearSSL/Release
/Nxp/Testes/TesteUartBearSSL/Debug
/Nxp/Testes/TesteUartBearSSL/.settings
